.transition1{
    
 transition: 0.6s;
}
.espaciado
{
    padding-right: 30px;
}
.p-0
{
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.img-drk
{
    background:rgba(0,0,0,0.6);
}

/* este css lo use para que el boton tuviera una posision fija */
.Mbtn
{
    transform: translate(-130%,90%)!important;
}

.fondo-obscuro
{
    background-image: url(../img/img-1.jpg);
	padding: 400px 100px;
	text-align: center;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
    font-size: 80px;
    
}
.fondo-obscuro::before
{
    content:'';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.letras-blancas
{
    color:rgb(255, 255, 255);
}

.fuente
{
    font-family: 'Poppins', sans-serif;
    font-size: 8vw;
    justify-content: center;

}
/* este css fue para centrar el h1 */
.centered {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

#galeria img {
    width: 100%;
    height: 300px;
}

#galeria .col-lg-4 {
    padding: 25px;
}



/* PRUEBAS */
/* este css lo use para crear la animacion de subrayado en el nav */

.nav2 {
    display: inline-flex;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    background-color: #fff;
    padding: 0 20px;
    border-radius: 40px;
    box-shadow: 0 10px 40px rgba(159, 162, 177, .8);
}
.nav-item2 {
    color: #83818c;
    padding: 20px;
    text-decoration: none;
    transition: 0.3s;
    margin: 0 6px;
    z-index: 1;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    position: relative;
}
.nav-item2:before {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #dfe2ea;
    border-radius: 8px 8px 0 0;
    opacity: 0;
    transition: 0.3s;
}
.nav-item2:not(.is-active):hover:before {
    opacity: 1;
    bottom: 0;
}
.nav-item2:not(.is-active):hover {
    color: #333;
}
.nav-indicator2 {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    transition: 0.4s;
    height: 5px;
    z-index: 1;
    border-radius: 8px 8px 0 0;
}
@media (max-width: 580px) {
    .nav2 {
        overflow: auto;
   }
}

/* este css es para que el nav se obscuresca cuando se encoja la pantalla */

@media screen and (max-width: 992px){
 .black-sm {
     background-color: black;
 }       
}

/* este css es para que el nav bar se obscuresca cuando se haga scroll */
.bg-negro
{
    background-color: black;
}